<div class="entry mt-4">
  {{#if productos}}
  <div class="p-1 border border-dark border-3 rounded">
    <div class="table table-resposive">
      <div id="prodDisplay">
     
        
        
        {{#each productos}}
     
         <h3>Producto</h3>
          <p>Item:{{ this.producto.titulo }} / cantidad:{{ this.quantity }}/ precio:{{ this.producto.precio }}</p>
         
         
             
           

           {{/each}}
      </div>
    </div>
  </div>
  {{else}}
  <br>
  <h3>No hay ningún producto agregado.</h3>
  {{/if}}
</div>
